{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="text-center">
        <h1>
            Attendinez
        </h1>
        <small>
            Auto-aspen from zoom chat*
        </small>
    </div>
    <hr>
    <div>
        <p>
            Stuff should go here
        </p>
        {% if not session.user_id %}
            <p>
                <div>
                    <p>Log in pls</p>
                </div>
            </p>
        {% else %}
            <p>
                Hey! You're logged in. Pretty sick.
            </p>
        {% endif %}
    </div>
{% endblock %}